
.vs/TiffToPng/v16/Browse.VC.db
.vs/TiffToPng/v16/Browse.VC.opendb
Clip_PumpkinIsland_65287_.tif
glut32.dll
jpeg62.dll
libimage.dll
libpng13.dll
libtiff3.dll
TiffToPng.sln
TiffToPng.vcxproj
TiffToPng.vcxproj.filters
TiffToPng.vcxproj.user
zlib1.dll
Debug/TiffToPng.tlog/CL.command.1.tlog
Debug/TiffToPng.tlog/CL.read.1.tlog
Debug/TiffToPng.tlog/CL.write.1.tlog
Debug/TiffToPng.tlog/link.command.1.tlog
Debug/TiffToPng.tlog/link.read.1.tlog
Debug/TiffToPng.tlog/link.write.1.tlog
Debug/TiffToPng.tlog/TiffToPng.lastbuildstate
Debug/vc142.idb
Debug/vc142.pdb
libtiff.lib
main.cpp
pumpCopy.bmp
pumpkinhill.png
pumpkinhill.tif
x64/Debug/libtiff.lib
x64/Debug/main.obj
x64/Debug/TiffToPng.log
x64/Debug/TiffToPng.pdb
x64/Debug/TiffToPng.tlog/CL.command.1.tlog
x64/Debug/TiffToPng.tlog/CL.read.1.tlog
x64/Debug/TiffToPng.tlog/CL.write.1.tlog
x64/Debug/TiffToPng.tlog/link-cvtres.read.1.tlog
x64/Debug/TiffToPng.tlog/link-cvtres.write.1.tlog
x64/Debug/TiffToPng.tlog/link-rc.read.1.tlog
x64/Debug/TiffToPng.tlog/link-rc.write.1.tlog
x64/Debug/TiffToPng.tlog/link.command.1.tlog
x64/Debug/TiffToPng.tlog/link.read.1.tlog
x64/Debug/TiffToPng.tlog/link.write.1.tlog
x64/Debug/TiffToPng.tlog/TiffToPng.lastbuildstate
x64/Debug/TiffToPng.tlog/unsuccessfulbuild
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
Debug/main.obj
Debug/TiffToPng.log
main.cpp
main.cpp
